%p#notice= notice

%p
  %b User 1:
  = @user_connection.user_1_id
%p
  %b User 2:
  = @user_connection.user_2_id
%p
  %b Interacted:
  = @user_connection.interacted
%p
  %b Negative connection:
  = @user_connection.negative_connection

= link_to 'Edit', edit_user_connection_path(@user_connection)
\|
= link_to 'Back', user_connections_path
