
<%= image_tag @match.image_1, width: 200 %>

<p>
  <b>Name:</b>
  <%= @match.first_name %><%= @match.last_name %>
</p>

<p>
  <b>Date of Birth</b>
  <%= @match.dob %>
</p>

<p>
  <b>Gender</b>
  <%= @match.gender %>
</p>

<p>
  <b>About me</b>
  <%= @match.about_me %>
</p>

<p>
  <b>Looking for</b>
  <%= @match.looking_for %>
</p>
