<%= hidden_field_tag("current_user", value = current_user.id.to_i) %>
<%= hidden_field_tag("this_user", value = @user.id.to_i) %>
<%= hidden_field_tag("relationship", value = @c) %>

 <div class="info_box">
 <% if @user.image_1.present? %>
  <div class="profile_image">
    <%= image_tag @user.image_1, width: 200 %>
  </div>
 <% end %>

   <div class="basic">
      <p class="profile">
      <b>Name:</b>
      <%= @user.first_name %><%= @user.last_name %>
      </p>

   <p class="profile">
     <b>Gender</b>
     <%= @user.gender %>
   </p>
   <p class="profile">
     <b>Looking for</b>
     <%= @user.looking_for %>
   </p>

   <p class="profile">
     <b>Date of Birth</b>
     <%= @user.dob %>
   </p>
  <%= link_to 'Random Partner Search', users_path %>

   </div>
</div>


 <p id="about_me" class="profile">
   <b>About me</b>
   <%= @user.about_me %>
 </p>

<!-- The code below configures the image carousel. Its originally allowed for up to 12 images but we remove 9 to only allow for a maximum of 3 images. The code contained within the msg_controls div implements the controls for the carousel. The button for the thumbnails was removed to disable this feature and limit the carousel to only shw full sized images -->
<div class="content">
  <div id="msg_slideshow" class="msg_slideshow">
      <div id="msg_wrapper" class="msg_wrapper">
        </div>
      <div id="msg_controls" class="msg_controls"><!-- right has to animate to 15px, default -110px -->
        
        <a href="#" id="msg_prev" class="msg_prev"></a>
        <a href="#" id="msg_pause_play" class="msg_pause"></a><!-- has to change to msg_play if paused-->
        <a href="#" id="msg_next" class="msg_next"></a>
      </div>
      <div id="msg_thumbs" class="msg_thumbs"><!-- top has to animate to 0px, default -230px -->
          <div class="msg_thumb_wrapper">
          <a href="#"><%= image_tag @user.image_1, width: 200, alt:@user.image_1  %></a>
          <a href="#"><%= image_tag @user.image_2, width: 200, alt:@user.image_2  %></a>
          <a href="#"><%= image_tag @user.image_3, width: 200, alt:@user.image_3  %></a>
          </div>
        <a href="#" id="msg_thumb_next" class="msg_thumb_next"></a>
        <a href="#" id="msg_thumb_prev" class="msg_thumb_prev"></a>
        <a href="#" id="msg_thumb_close" class="msg_thumb_close"></a>
        <span class="msg_loading"></span><!-- show when next thumb wrapper loading -->
        </div>
  </div>
</div>
<button id="like">Like!</button>
<button id="hate">Dislike!</button>

<%= link_to "Chat", chats_path(:id => @user.id, :name => @user.first_name), :id => "chat" %>
