<%= hidden_field_tag("current_user", value = current_user.id.to_i) %>
<%= hidden_field_tag("this_user", value = @user.id.to_i) %>



<%= image_tag @user.image_1, width: 200 %>

<p>
  <b>Name:</b>
  <%= @user.first_name %><%= @user.last_name %>
</p>

<p>
  <b>Date of Birth</b>
  <%= @user.dob %>
</p>

<p>
  <b>Gender</b>
  <%= @user.gender %>
</p>

<p>
  <b>About me</b>
  <%= @user.about_me %>
</p>

<p>
  <b>Looking for</b>
  <%= @user.looking_for %>
</p>

<% if @connections==[] %>
  <button id="hate">Dislike!</button>
<% else %>
  <% @connections.each do |c|%>
    <% if c.user_2_id == @user.id %>
      <p>YOU HATE THIS PERSON!</p>
    <% else %>
      <button id="hate">Dislike!</button>
    <% end %>
  <% end %>
<% end %>

