<% if current_user.image_1 %>
<%= image_tag current_user.image_1, width: 200 %>
<% end %>

<p>
  <b>Name:</b>
  <%= current_user.first_name %><%= current_user.last_name %>
</p>

<p>
  <b>Date of Birth</b>
  <%= current_user.dob %>
</p>

<p>
  <b>Gender</b>
  <%= current_user.gender %>
</p>

<p>
  <b>About me</b>
  <%= current_user.about_me %>
</p>

<p>
  <b>Looking for</b>
  <%= current_user.looking_for %>
</p>

<%= link_to 'Other User', users_path %>

