<!DOCTYPE html>
<html>
<head>
  <title>DatingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
</head>

  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if user_signed_in? %>
      <%= current_user.email %>

    </br>

    <ul id="nav_bar">
      <li><a><%= link_to "Connections", connections_path %></a></li>
      <li><a><%= link_to "Home", root_path %></a></li>
      <li><a><%= link_to "Edit Profile", edit_user_registration_path %></a></li>
      <li><a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
    </header>
      <%= form_tag(connections_path, :method => "get" ) do %>
              <a><%= text_field_tag :search, params[:search], placeholder: "Search by name..." %><%= submit_tag "Search" %></a>
              <% end %>
      <% else %>
      <a><%= link_to "Sign Up", new_user_registration_path %></a>
    </ul>

    <%= link_to "Login", new_user_session_path %>

    <% end %>
    
  
  <%= yield %>

</body>
</html>
